defaults
    mode tcp
    timeout connect 5s
    timeout server 30s
    timeout client 30s

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats show-node

frontend redis-in
    bind *:6379
    default_backend redis-backend

backend redis-backend
    option tcp-check
    tcp-check connect
    tcp-check send PING\r\n
    tcp-check expect string +PONG
    tcp-check send info\ replication\r\n
    tcp-check expect string role:master
    tcp-check send QUIT\r\n
    tcp-check expect string +OK
    server redis1 redis1-rt:6379 check inter 2s rise 2 fall 3
    server redis2 redis2-rt:6379 check inter 2s rise 2 fall 3
    server redis3 redis3-rt:6379 check inter 2s rise 2 fall 3


